<div class="description" >
   <h2>    Hello ,Welcome To Askit
    <p>  This is website wheare are you answer question and whrite questions  </p>  
    <%= link_to 'See All questions', questions_path , class:"btn btn-outline-secondary btn-lg" %> 
     </h2>  
</div>